
#itemMainDiv{
    margin-left: -9px;
    width: 120.5%;
}

h2{
    color: aliceblue;
    margin-left: 50px;
    background-color: rgb(51, 50, 3);
    display: inline;
}

.itemConDiv{
    position: relative;
    background-color: rgb(44, 109, 109);
    width: 50%;
    left: 1%;
    top: 10px;
    border-top: 10px solid rgb(44, 109, 109);
    border-bottom: 10px solid rgb(44, 109, 109);
    border-radius: 5px;
    
}

.itemConDiv>div{
    position: relative;
    width: 90%;
    background-color: rgb(139, 170, 201);
    left: 5%;
}

.editForm{
    position :fixed;
    background-color: rgb(54, 107, 104);
    top: 120px;
    left: 55%;
    width: 40%;
    border-radius: 6px;
}

.editForm>label{
    margin-left: 30px;
}

.editForm>input{
    margin-left: 10px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}

.editForm>button{
    position: relative;
    border-radius: 5px;
    left: 20%;
    width: 280px;
    height: 40px;
    color: azure;
    border: 1px solid rgb(82, 158, 156);
}

.addBtn{
    background-color: rgb(33, 48, 179);
}

.deleteBtn{
    background-color: rgb(214, 44, 44);
}

.updateBtn{
    background-color: rgb(49, 167, 45);
}