
#loginMainDiv{
    margin-left: -10px;
    width: 122%;
    height: 689px;
    background-image: url("../assets/bgTwo.jpg");
    background-size: cover;
}

.cusLoginMainDiv{
    position: absolute;
    width: 90%;
    height: 550px;
    left: 60px;
    top: 90px;
    margin: 0;
    background-color: rgba(20, 82, 72, 0.8);

}

.cusLoginMainDiv>h2{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-weight: bold;
}

.subDivOne>label{
    color: aliceblue;
    margin-left: 30px;
}

.subDivOne>input{
    margin-left: 50px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

.subDivOne>button{
    position : absolute;
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#logAdmin{
    background-color: cadetblue;
    left: 75px;
    margin-top: 20px;
}

#logCustomer{
    background-color: rgb(150, 160, 95);
    left: 75px;
    margin-top : 40px
}

.subDivOne{
    width: 40%;
}


.subDivTwo{
    width: 50%;
    position: absolute;
    left: 550px;
    top: 20px;
}

.subDivTwo>h2{
    color: beige;
}

.subDivTwo>h5{
    color: azure;
}

.subDivTwo>label{
    color: aliceblue;
}

.subDivTwo>input{
    position: absolute;
    left: 230px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

#regCustomer{
    position: absolute;
    background-color: rgb(230, 158, 248);
    border-radius: 5px;
    left: 300px;
    top: 460px;
    height: 40px;
}