body{
    background-color: rgb(189, 236, 236);
}

body {
    background-image: url("../assets/5172658.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

body>div{
    position: relative;
    margin-left: 0;
}

.container{
    margin: 0;
}

#mainDiv{
    position: relative;
    width: 75%;
    /* left: 5%; */
}

.itemDiv{
    background-color: rgb(167, 209, 209,0.5);
    height: 200px;
    border-radius: 10px;
    /* width: 20%; */
    
}

.desDiv{
    position: relative;
    left: 26%;
    margin-top: -23%;
    margin-right: 0;
    width: 70%;
}



.imageDiv{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(112, 109, 109);
    border-radius: 10px;
}


h5{
    display: inline;
}
h6{
    display: inline;
}


#addToCart,#buyBtn{
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    left: 70%;
    z-index : 2;
    top: -93%;
    
}

#addToCart{
    background-color: rgb(5, 80, 129);
}

#buyBtn{
    background-color: rgb(170, 154, 7);
}

.itemImage{
    width: 195px;
    height: 195px;
    border-radius: 10px;
}

.cartList{
    position: absolute;
    display: inline-block;
    width: 33%;
    left: 65%;
    top: 2%;
    background-color: rgb(150, 180, 117);
    border-radius: 10px;
}

.makeOrderBtn{
    position: relative;
    left: 25%;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    top: -50px;
    border: 1px solid rgb(253, 139, 139);
    border-radius: 10px;
    background-color: rgb(252, 252, 120);
    z-index: 3;

}

.itemN>div{
    background-color: rgba(151, 150, 67, 0.5);
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
}

.cartList>h2{
    color: rgb(5, 80, 129);
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.itemN>div>div>button{
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(248, 99, 99);
    border: 1px solid red;
    width: 30px;
    height: 25px;
}