


.leftDiv{
    background-color: rgb(87, 87, 117);
    width: 119%;
    height: 60px;
    display: inline-block;
    position: relative;
}

.leftDiv>div{
    position: relative;
    display: inline;
    top: 5px;
}


.userImage{
    margin-right: 20%;
}

.homeBtn{
    position: relative;
    left: 26%;
}

.homeBtn>.navBtn{
    height: 41px;
    background-color: rgb(126, 109, 131);
}

a{
    text-decoration : none;
    color: black;
}

.homeBtn>.navBtn>a>h3{
    font-size: small;
    margin-top: 5px;
}

.dashboardBtn{
    position: relative;
    left: 28%;
}

.navBtn{
    border-radius: 10px;
    border: 2px solid rgb(192, 192, 219);
    background-color: rgb(126, 109, 131);
    height: 50px;
    width: 60px;
}


.searchField{
    position: relative;
    margin-bottom: 15px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 0;
}

.searchBtn{
    left: 2%;
}

.searchBtn>button{
    position: absolute;
    width: 120px;
    height: 50px;
    border: 1px solid rgb(114, 97, 3);
    background-color: rgb(41, 34, 14);
    border-radius: 20px;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 25px;
   
}

