

.mainOrderDiv{
    background-image: url("../assets/simpleBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

h1{
    position: relative;
    text-align: center;
    top: 50px;
}

.mainList{
    position: relative;
    top: 100px;
    left: 80px;
    width: 50%;
}

.amountH{
    position: absolute;
    left: 810px;
    top: 200px;
    background-color: rgb(135, 202, 222);
}

.placeOrderBtn{
    position: absolute;
    left: 840px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(199, 124, 196);
    border: 3px solid plum;
    width: 250px;
    height: 60px;
    top: 550px;
}

.selectSec{
    background-color: rgba(111, 235, 54, 0.5);
    position: absolute;
    width: 40%;
    left: 720px;
    height: 300px;
    top: 250px;
}

.selectSec>div{
    margin: 50px;
}